footer {
	padding: 2rem 0;
	background: url('../img/header_bar.jpg');
	table {
		width: 250px;
	}
	td {
		text-align: center;
		padding-bottom: 1rem;
		a {
			display: inline-block;
			width: 40px;
		}
	}
}